<header id="home" class="header">
  <div class="overlay"></div>

  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="container">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="carousel-title">
              We Make<br> 
              Software development
              <!-- Automation of repetitive tasks -->
            </h1>
            <button class="btn btn-primary btn-rounded">
              <a href="#about" class="nav-link" style="color: #fff !important;">
                Learn More
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>